appdirs==1.4.4
autopep8==1.5.5
build==0.3.0
certifi==2020.12.5
chardet==4.0.0
distlib==0.3.1
filelock==3.0.12
idna==2.10
packaging==20.9
pep517==0.9.1
pycodestyle==2.6.0
pyparsing==2.4.7
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.3
virtualenv==20.4.2
